* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 44px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 58px;
}

.restaurant-info {
  margin-left: 30px;
  margin-right: auto;
}

.main {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.input {
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  padding: 8px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px center;
  border-radius: 2px;
}

.input-address {
  flex: 0.8;
  background-image: url(../img/home.svg);
}

.input-seacrh {
  width: 300px;
  background-image: url(../img/search.svg);
}

.buttons {
  display: flex;
  align-items: center;
}

.span-title {
  margin-right: 7px;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}

.card-buttons {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.button-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-primary {
  background: #1890ff;
  border: 1px solid #1890ff;
  color: #fff;
  margin-right: 10px;
}

.button-icon {
  margin-right: 6px;
  vertical-align: middle;
}

.promo-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302c34;
}

.promo {
  margin-top: 40px;
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #fff1b8 url(../img/promo-image.png) no-repeat top -100px right -247px /
    924px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}

.promo-text {
  min-width: 538px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #302c34;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  color: #000000;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card-price-bold {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin-left: 32px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  flex-basis: 31%;
  text-decoration: none;
}

.card-image {
  width: 384px;
  height: 250px;
  object-fit: cover;
}

.card-text {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 23px;
  padding-right: 23px;
}

.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.card-title-reg {
  font-weight: 400;
}

.card-tag {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}

.card-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ingrediands {
  color: #8c8c8c;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.restaurant-title {
  margin-top: 58px;
}

.rating {
  margin-right: 26px;
  color: #ffc107;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.price,
.category {
  color: #8c8c8c;
  font-size: 18px;
  line-height: 32px;
}

.price {
  margin-right: 10px;
}

.price::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}

.footer {
  padding: 60px 0;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}

.footer-link {
  text-decoration: none;
  display: inline-block;
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer-link:not(:last-child) {
  margin-right: 15px;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-link:not(last-child) {
  margin-right: 21px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.is-open {
  display: flex;
}

.modal-dialog {
  max-width: 780px;
  width: 95%;
  height: 552px;
  background: #ffffff;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.close {
  font-size: 36px;
  background-color: transparent;
  border: none;
}

.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.modal-body {
  margin-bottom: 52px;
}

.food-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.food-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.food-price {
  margin-left: auto;
  margin-right: 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.counter-button {
  height: 32px;
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #40a9ff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #40a9ff;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.food-counter {
  display: flex;
  align-items: center;
}

.counter {
  font-size: 16px;
  font-weight: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-buttons {
  display: flex;
  align-items: center;
}

.pricetag {
  background: #262626;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .promo {
    background-position: top -50px right -280px;
    background-size: 750px;
  }

  .card .rating {
    margin-right: 15px;
  }

  .category,
  .price {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .promo {
    background-position: top right -250px;
    background-size: 550px;
  }

  .promo-heading {
    font-size: 30px;
  }

  .promo-text {
    font-size: 20px;
  }

  .card {
    flex-basis: 49%;
  }

  .footer-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .promo {
    background-position: top right -300px;
    background-size: 500px;
  }

  .promo-heading {
    font-size: 24px;
  }

  .promo-text {
    font-size: 16px;
  }
  .button-text {
    display: none;
    min-width: 40px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .button-text {
    display: block;
  }
  .card {
    flex-basis: 100%;
  }
  .card-image {
    width: 100%;
  }
  .promo {
    background-image: none;
  }

  .header {
    flex-wrap: wrap;
  }

  .input-address {
    margin-top: 15px;
    order: 5;
    flex: 1;
  }

  .footer {
    padding: 30px 0;
    align-items: center;
  }

  .input-seacrh {
    flex: 0.3;
  }
}
